{
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  },
  "presets": [
    ["@babel/preset-env",{
        "targets": {
              "ie": 11,
            "browsers": ["> 0.2%, not dead, not op_mini all, Explorer 11, last 4 Edge versions"]
        },
        "useBuiltIns": "usage",
        "modules": false,
        "corejs" : "3",
        "sourceType": "unambiguous",
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
