test*.js
dist
node_modules
mochawesome-report-unit
todo
generated
demo/**/__e2e__
_results_
.DS_Store
generator/package-lock.json
generator/package.json
coverage
.husky
src/fields/components/**/package-lock.json
src/framework
src/universal-schema/ui-framework.ts
src/universal-schema/types/ui-framework.type.ts
scripts/installer/templates/react/src/ui-framework/index.ts
package-lock.json
temp
scripts/installer/frameworks/**/config
scripts/installer/frameworks/**/helpers
scripts/installer/frameworks/**/universal-schema
scripts/installer/frameworks/**/src/types
scripts/generator/package-lock.json
scripts/generator/package.json
package-original.json
demo/web/svelte/public/build
/webpack.out.json
/rollup.config.js
/tsconfig.json
/webpack.config.js
/stencil.config.ts
/custom-elements.json
dist/
www/
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
