.root.svelte-pqye9s{display:'flex'
    }
.root.svelte-1ih9lnu{margin-top:10px
    }
h1.svelte-193l6i5{text-align:center;margin:0 auto}h1.svelte-193l6i5{font-size:2.2em;text-transform:uppercase;font-weight:700;margin:0 0 0.5em 0}@media(min-width: 480px){h1.svelte-193l6i5{font-size:3em}}
